{{#if currentUser}}
  <a
    href="https://e8c97bb8-1cc2-4866-b1bc-513d7602d42d-00-2ebpesln4i3pc.janeway.replit.dev/auth/discord?discourse_user={{currentUser.username}}"
    title="Link your Discord account"
    class="btn btn-default header-link-discord"
    target="_blank"
    rel="noopener noreferrer"
  >
    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="20" fill="currentColor">
      <path d="M22 24H2c-1.1 0-2-.9-2-2V2C0 .9.9 0 2 0h20c1.1 0 2 .9 2 2v20c0 1.1-.9 2-2 2z" fill="#7289DA"/>
      <path fill="#fff" d="M17.472 6.212a13.227 13.227 0 00-3.257-1.011..." />
    </svg>
  </a>
{{/if}}
