.header-link-discord {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  color: var(--primary-high);
  text-decoration: none;
}

.header-link-discord svg {
  fill: var(--primary-high);
}
